textarea
{
    resize: none;
    max-height: 200px;
    min-height: 200px;
}

mat-form-field
{
    width: 100%;
}

.form
{
    margin-top: 40px;
    padding: 36px;
    border: none;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    box-sizing: border-box;
    width: 780px;
}
