.button-back
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FDB100;

  margin-top: 50px;
}

.button-back img
{
  float: left;
  padding: 5px;
  margin-right: 5px;

}

.button-back:hover
{
  cursor: pointer;
}

h1
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  color: #25292D;

  margin-top: 11px;
  margin-bottom: 50px;
}

mat-progress-bar
{
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;

  width: 300px;
  height: 10px;
}

.recipe-continuation
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.ingridients
{
    flex-grow: 40%;
}

.steps
{
    margin-left: 40px;
    margin-top: 0;
    min-width: 780px;
}

.ingridient-block
{
    margin-top: 10px;
    border: none;
    border-radius: 24px;
    box-sizing: border-box;
    width: 380px;
}

.step-block
{
    margin-top: 40px;
    padding: 36px;
    border: none;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    box-sizing: border-box;
    width: 780px;
}

.ingridients-title
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #FDB100;
}

.ingridient-title
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: #4A525A;
}

.ingridient-text
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #4A525A;
}

.step-title
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: #4A525A;
}

.step-text
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #4A525A;
}

.wishing
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  color: #FDB100;
  opacity: 0.5;
  text-align: center;
  margin-top: 40px;
}
