.button-back
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FDB100;

  margin-top: 50px;
}

.button-back img
{
  float: left;
  padding: 5px;
  margin-right: 5px;

}

.button-back:hover
{
  cursor: pointer;
}

.content
{
  width: 66%;
  margin: auto;
}

h1
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  color: #25292D;

  margin-top: 11px;
  margin-bottom: 50px;
}
