div
{
  height: 113px;
  width: 100%;
  margin-top: 44px;

  display: flex;
  align-items: center;
}

.logo
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  color: #FDB100;
}

.copyright
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #4A525A;

  width: 100%;
  text-align: right;
}
