div
{
  height: 430px;
  margin: auto;
  margin-top: 40px;
  border: none;
  box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
  border-radius: 24px;
  padding: 0;
}

div:hover
{
  cursor: pointer;
}

img
{
  border-radius: 72px 0px;
  margin: 0;
  float: left;
}

h2
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-left: 483px;
  padding-top: 49px;
  color: #25292D;
}

p
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 16px;
  max-width: 571px;
  margin-left: 483px;
  color: #4A525A;
}
