<div class="recipe-container" (click)="moreClicked()">
  <img class="recipe-photo" src="/assets/img/pancake.png" />
  <div class="recipe-info">
    <h2>{{ item.name }}</h2>
    <p class="recipe-description">{{ item.shortDescription }}</p>
    <div class="properties">
      <div class="properties-item">
        <img class="properties-icon" src="/assets/img/timer.svg">
        <div class="properties-description">
          <p class="properties-label">Время приготовления:</p>
          <p class="properties-value">{{ item.cookTimeMinutes }} мин</p>
        </div>
      </div>
      <div class="properties-item">
        <img class="properties-icon" src="/assets/img/people.svg">
        <div class="properties-description">
          <p class="properties-label">Рецепт на:</p>
          <p class="properties-value">{{ item.portions }} персон</p>
        </div>
      </div>
    </div>
  </div>
</div>
