.recipe-container
{
  height: 430px;
  margin: auto;
  margin-top: 40px;
  border: none;
  box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
  border-radius: 24px;
  padding: 0;
}

div:hover
{
  cursor: pointer;
}

.recipe-photo
{
  border-radius: 72px 0px;
  margin: 0;
  float: left;
}

.recipe-info
{
  margin-left: 483px;
}

h2
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-top: 49px;
  color: #25292D;
}

.recipe-description
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 16px;
  max-width: 571px;
  color: #4A525A;
}

.properties
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.properties-item
{
  display: flex;
  align-items: center;
  width: 350px;
}

.properties-icon
{
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 20px;
}

.properties-description
{
  flex-basis: 50%;
}

.properties-label
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #25292D;
  opacity: 0.5;
  margin: 0;
  margin-top: 8px;
}

.properties-value
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #25292D;
}
