<header></header>

<img class="header-image" src="assets/img/header-image.png">

<div class="top">
  <h1>Готовь и делись рецептами</h1>
  <p>Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте.</p>
  <button (click)="openChooseAuthDialog();" class="btn-filled" mat-flat-button color="primary"><img class="plus-icon" src="assets/img/plus.svg"> Добавить рецепт</button>
  <button (click)="openAuthDialog();" class="btn-stroked" mat-stroked-button color="primary">Войти</button>
</div>

<h2>Умная сортировка по тегам</h2>
<p>Добавляй рецепты и указывай наиболее популярные теги. Это позволит быстро находить любые категории.</p>

<div class="cards">

  <div class="card">
    <div class="icon-bg"><img src="assets/img/ic-menu.svg"></div>
    <h3>Простые блюда</h3>
    <p>Время приготвления таких блюд не более 1 часа</p>
  </div>

  <div class="card">
    <div class="icon-bg"><img src="assets/img/ic-cook.svg"></div>
    <h3>Детское</h3>
    <p>Самые полезные блюда которые можно детям любого возраста</p>
  </div>


  <div class="card">
    <div class="icon-bg"><img src="assets/img/ic-chef.svg"></div>
    <h3>От шеф-поваров</h3>
    <p>Требуют умения, времени и терпения, зато как в ресторане</p>
  </div>


  <div class="card">
    <div class="icon-bg"><img src="assets/img/ic-firework.svg"></div>
    <h3>На праздник</h3>
    <p>Чем удивить гостей, чтобы все были сыты за праздничным столом</p>
  </div>

</div>

<footer></footer>

