.header-image
{
  position: absolute;
  width: 602px;
  height: 800px;
  top: 0;
  right: 0;
  z-index: -1;
}

.top
{
  width: 688px;
}

button
{
  height: 60px;
  border-radius: 16px;
  margin-right: 24px;
  margin-top: 42px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.btn-filled
{
  width: 278px;
  background: #FDB100;
  color: #FFF;
  border: none;
}

.plus-icon
{
  margin-right: 23px;
}

.btn-stroked
{
  width: 216px;
  border-color: #FDB100;
  color: #FDB100;
}

h1
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;

  color: #25292D;
}

h2
{
  margin-top: 352px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  /* identical to box height, or 148% */


  color: #25292D;
}

h3
{
  margin-top: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */


  color: #25292D;
}

.cards
{
  margin: auto;
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}

.card
{
  box-sizing: border-box;
  width: 278px;
  height: 278px;
  display: inline-block;
  padding: 24px;

  background: #FFF;
  box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
  border-radius: 24px;
}

.icon-bg
{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFEFCC;
  border-radius: 12px;
}

p
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  color: #4A525A;
}
